requests
configparser
tweepy
passivetotal
beautifulsoup4
lxml
censys
git+https://github.com/Te-k/pycrtsh.git
shodan
fullcontact.py
pyhunter
git+https://github.com/Te-k/pysafe.git@v0.1
git+https://github.com/Te-k/spyonweb.git
PyGitHub
telethon==0.18.3
virustotal-api
mispy
OTXv2
IPy
pyasn
maxminddb>=1.4.0
git+https://github.com/maxmind/GeoIP2-python.git
selenium
git+https://github.com/Te-k/pygreynoise.git
git+https://github.com/Te-k/pythreatgrid.git
git+https://github.com/Te-k/pypermacc.git
dnspython
archiveis
click==6.7
consolemd==0.4.4
